.khoi-2{
    width: 1050px;
    height: 2000px;
    background-color:#0F1220;
}
.khoi-1{
    width: 1050px;
    height: 100px;
    background-color:#1B2039 ;
    margin: 0;
    padding: 0;
}
.title{
    float: left;
    list-style: none;
    color: white;
}
.title h3{
    padding-left: 450px;
    padding-top: 20px;
}
.anh{
    float: left;
    padding-right: 21px;
}
.font{
    color: white;
    text-align: center;
}
.anh-2{
    float: left;
    padding-right: 21px;
}
.banner{
    padding-top: 50px;
    padding-left: 233px;
}
